{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sistema de Judocas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'home/newstyle.css' %}">

      <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
<!-- DevExtreme themes -->
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/19.2.3/css/dx.common.css">
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/19.2.3/css/dx.light.css">

<!-- DevExtreme library -->
<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/19.2.3/js/dx.all.js"></script>

  </head>
  <body>
    <header id="banner">
      <br>
      <h1>Sistema Judocas</h1>
        <div id="sub_menu"></div>
      <nav id="menu">
          <ul>
              <li class="bt"><a href="{% url 'home' %}">Home <br><img src="{% static 'home/home.png' %}" width="30px" height="30px"></a></li>
              <li class="bt"><a href="{% url 'tournament_views' %}">Torneio<br><img src="{% static 'home/trophy.png'%}" width="30px" height="30px"></a></li>
              <li class="bt"><a href="{% url 'news-list' %}">Noticias<br><img src="{% static 'home/newspaper.png' %}" width="30px" height="30px"></a></li>
              <li class="bt"><a href="{% url 'login_screen' %}">Login<br><img src="{% static 'home/enter.png' %}" width="30px" height="30px"></a></li>
            </ul>
      </nav>
  </header>

    {% block content %}
    
    {% endblock %}
    
    <footer id="footer">
      <br>
      <br>
      <a class="fb" href="https://www.facebook.com/"><img src="{% static 'home/fb.png' %}" width="90px" height="80px"></a>
      <a class="insta" href="https://www.instagram.com/"><img src="{% static 'home/insta.png' %}" width="110px" height="80px"></a>
    <p>Matheus Pedro Rodrigues Ferreira TIA: 31702351</p>
    <p>João Pedro da Silva Sousa TIA: 31725163</p>
    <p>Rodrigo Costa TIA: 31711030</p>
    <p>Lucas Keiti TIA: 31755501</p>
    <p>Matheus Henrique Cardinalli Ferreira TIA: 31745377</p>
      
  <br>
  </footer>


  </body>
  <script>
      let menu_data = [
          {
              id: '1',
              name: 'Admin',
              icon: "menu",
              items: [
                  {
                      id: '1_1',
                      name: "User Control",
                      icon: "user",
                      url: "{% url 'user_views' %}"
                  },
                  {
                      id: '1_2',
                      name: "Profile Control",
                      icon: "group",
                      url: "{% url 'user_profile_views' %}"
                  },
                  {
                      id: '1_3',
                      name: "Dojo Control",
                      icon: "home",
                      url: "{% url 'dojo_views' %}"
                  },
                  {
                      id: '1_4',
                      name: "Class Control",
                      icon: "contentlayout",
                      url: "{% url 'class_views' %}"
                  },
                  {
                      id: '1_5',
                      name: "Tournament Control",
                      icon: "hierarchy",
                      url: "{% url 'tournament_views' %}"
                  },
                  {
                      id: '1_6',
                      name: "Participants Control",
                      icon: "group",
                      url: "{% url 'participants_views' %}"
                  },
                  {
                      id: '1_7',
                      name: "Knockout Control",
                      icon: "runner",
                      url: "{% url 'knockout_views' %}"
                  },
              ]
          }

      ];

      $(() => {
          {#$('body').width = window.innerWidth;#}
          let menu = $('#sub_menu').dxMenu({
              items: menu_data,
              submenuDirection: "auto",
              hideSubmenuOnMouseLeave: true,
              cssClass: "bt",
              showFirstSubmenuMode: {
                  name: "onHover",
                  delay: {
                      hide: 300,
                      show: 50
                  },
              },
              visible: {% if user.is_authenticated %} true {% else %} false {% endif %},
              showSubmenuMode: 'onHover',
              itemsExpr: "items",
              displayExpr: 'name',
              onItemClick: (item) => {
                  if (item.itemData.url) {
                      window.location.assign(item.itemData.url);
                  }
              }
          });
      })
  </script>
</html>



{% block scripts %}
{% endblock %}
