{% extends "base.html" %}
{% load rest_framework %}
{% block content %}
    <div class="container-fluid">
        <div id="grid"></div>
    </div>
{% endblock %}

{% block scripts %}

    <script>


        let dataDojo = new DevExpress.data.CustomStore({
            load: (loadOptions) => {
                var deferred = $.Deferred();
                $.ajax({
                    url: "{% url 'dojo_list_api' %}",
                    dataType: "json",
                    success: function (result) {
                        deferred.resolve(result);
                    },
                    error: function () {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },
            insert: (values) => {
                var deferred = $.Deferred();
                $.ajax({
                    url: "{% url 'dojo_list_api' %}",
                    dataType: "json",
                    data: values,
                    type: 'POST',
                    success: function (result) {
                        deferred.resolve(result);
                    },
                    error: function () {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },
            update: (oldValues, newValues) => {

                console.log(newValues, oldValues);
                var deferred = $.Deferred();
                $.ajax({
                    url: "{% url 'dojo_list_api' %}" + oldValues.id + "/",
                    dataType: "json",
                    data: newValues,
                    type: 'PATCH',
                    success: function (result) {
                        deferred.resolve(result);
                    },
                    error: function () {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },
        });

        $(() => {
            let grid = $('#grid').dxDataGrid({
                dataSource: dataDojo,
                editing: {
                    mode: "form",
                    allowAdding: true,
                    allowDeleting: false,
                    allowUpdating: true
                },
                columnAutoWidth: false,
                columns: [
                    {
                        dataField: "id",
                        allowEditing: false
                    },
                    {
                        dataField: "name",
                        caption: 'Nome',
                    },
                    {
                        dataField: "is_active",
                        caption: "Ativo",
                        dataType: "text",
                        trueText: "Sim",
                        falseText: "Não",
                        formItem: {
                            editorType: "dxCheckBox"
                        },
                        calculateDisplayValue: (value) => {
                            console.log(value);
                            return value.is_active ? "Sim" : "Não"
                        }
                    }
                ]
            });
        });
    </script>

{% endblock %}
