*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
#banner {
  text-align: center;
  background-size: cover;
  background-color: #708090;
  color: #F5F5F5;
  text-shadow: 1px 1px 5px black;
}
#menu {
  background-color: #708090;
  display: flex;
  display: -webkit- flex;
  justify-content: center;
  justify-content: -webkit- center;
  margin-bottom: 20px;
    
}
#menu ul li {
  list-style: none;
  display: inline-block;
  display: -webkit- inline-block;
  padding: 0px 20px;
  border-right: 1px solid black;
   margin-top: 7px;

}
#menu ul .bt:hover{
    opacity: 0.3;
}
#menu ul li a {
  text-decoration: none;
  color: #E8E8E8;
  font-size: 15pt;
  text-shadow: 1px 1px 5px black;
  
}

.stopfloat{
    clear: both;
}

#footer {
  background-color: #708090;
}

#footer p {
  color:#F5F5F5;
  font-size: 11pt;
  text-align: center;
}
.fb {
    float:left;
    opacity: 1;
}
.insta{
    float: right;
    opacity: 1;
}
.fb:hover{
    opacity: 0.5;
}
.insta:hover{
    opacity: 0.5;
}
#containerNoticia{
    width: 1100px;
    height: auto;
    margin: 0 auto;
}
#text_noticia{
    text-shadow: 1px 1px 5px #4876FF;
    color: black;
}
#txt_novanoticia{
    font-size: 30px;
    text-shadow: 1px 1px 5px grey;
}
article h3 a{
    text-decoration:none;
    color: black;
    font-weight: bold;
}
.date{
    font-style:italic;
}

#imagem_campeonato{
    float: left;
    margin-top: 100px;
    margin-left: 120px;
      overflow:hidden;
}
#containerHomepage{
    width: 1300px;
    height: 940px;
    margin: 0 auto;
}
#imagem_campeonato .icon:hover{
    opacity: 1;
}
#imagem_campeonato .icon{
    padding-left: 50px;
    opacity: 0.5;
}
#historia_judo{
    float:right;
    width: 500px;
    height: 870px;
    text-align: center;
    margin-right: 80px;
    margin-top: 10px;
    background-color: whitesmoke;
    font-size: 15px;
    overflow: hidden;
}
#imagem_aluno{
    float: left;
    margin-top: 200px;
    margin-left: -50px;
      overflow:hidden;
    font-size: 25pt;
}
#imagem_aluno .icon:hover{
    opacity: 1;
}
#imagem_aluno .icon{
    padding-left: 50px;
    opacity: 0.5;
}
#imagem_professor{
    float: left;
    margin-top: 180px;
    margin-left: 150px;
      overflow:hidden;
    font-size: 25pt;
}
#imagem_professor .icon:hover{
    opacity: 1;
}
#imagem_professor .icon{
    padding-left: 50px;
    opacity: 0.5;
}
#imagem_dojo{
    float: left;
    margin-top: -530px;
    margin-left: 650px;
      overflow:hidden;
    font-size: 25pt;
}
#imagem_dojo .icon:hover{
    opacity: 1;
}
#imagem_dojo .icon{
    padding-left: 50px;
    opacity: 0.5;
}
#containeradm{
    width: 1300px;
    height: 940px;
    margin: 0 auto;
}
#subtitle {
  text-align: center;
  background-size: cover;
  text-shadow: 1px 1px 5px grey;
}
#menualuno {
  background-color: white;
  display: flex;
  display: -webkit- flex;
  justify-content: center;
  justify-content: -webkit- center;
  margin-bottom: 10px;
    
}
#menualuno ul li {
  list-style: none;
  display: inline-block;
  display: -webkit- inline-block;
  padding: 0px 20px;
   margin-top: 8px;

}
#menualuno ul .bt:hover{
    opacity: 0.3;
}
#menualuno ul li a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
}
#menuprofessor {
  background-color: white;
  display: flex;
  display: -webkit- flex;
  justify-content: center;
  justify-content: -webkit- center;
  margin-bottom: 20px;
    
}
#menuprofessor ul li {
  list-style: none;
  display: inline-block;
  display: -webkit- inline-block;
  padding: 0px 20px;
   margin-top: 7px;

}
#menuprofessor ul .bt:hover{
    opacity: 0.3;
}
#menuprofessor ul li a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
}
#menudojo {
  background-color: white;
  display: flex;
  display: -webkit- flex;
  justify-content: center;
  justify-content: -webkit- center;
  margin-bottom: 20px;
    
}
#menudojo ul li {
  list-style: none;
  display: inline-block;
  display: -webkit- inline-block;
  padding: 0px 20px;
   margin-top: 7px;

}
#menudojo ul .bt:hover{
    opacity: 0.3;
}
#menudojo ul li a {
  text-decoration: none;
  color: black;
  font-size: 15pt;
}