{% extends "base.html" %} {% block content %}
<h3>História da Federação Piauiense de Judô </h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus varius velit sit amet volutpat. Praesent semper gravida nibh at pellentesque. Sed mi odio, laoreet placerat sodales sit amet, lobortis sit amet nunc. Sed suscipit et dolor eget porttitor. Nullam mattis velit ut justo lobortis viverra. Sed id convallis urna, nec ultricies augue. Nullam non blandit sem, consequat pulvinar risus. Donec ipsum quam, ultrices nec viverra ut, elementum nec eros. Duis laoreet rutrum felis eu posuere.</p>
{% endblock %}
