{% extends "base.html" %}

{% block content %}
    <div id="news">
        <h3>Detalhes do Post</h1>
        <p>Publicada em: {{news.published}} - Autor: {{news.author}}</p>
        {% if news.edited %}
            <p>Editada em: {{news.edited}}</p>
        {% endif %}
        <h3>{{news.title}}</h3>
        <p>{{ news.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            <a href="{% url 'news-edit' pk=news.pk %}">Editar Esta Noticia</a>
        {% endif %}
    </div>
{% endblock %}